.card-container {
    background-color: #F0F0F0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    width: 300px;
    padding: 20px;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: auto;
    display: block;
}

.car-details {
    padding: 15px;
    text-align: center;
    background-color: #F0F0F0;
}

.car-details h2 {
    background-color: #F0F0F0;
}

.car-details p {
    background-color: #F0F0F0;
}

.car-card-book-button {
    margin: 10px 0px 0px 0px;
    padding: 10px 20px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    background-color: #F0F0F0;
    display: inline-block;
    text-decoration: none;
}

.book-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .card-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .card-container {
        width: 100%;
        padding: 15px; /* Reduced padding for smaller screens */
    }
    .car-card-book-button {
        padding: 8px 15px; /* Adjust button size */
        font-size: 0.9rem; /* Smaller font size for smaller screens */
    }
}
