.cars-page {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    background-color: #FFFBF3;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.pagination button {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 100%;
    transition: background-color 0.3s;
}

.pagination button.active {
    background-color: #050505;
    color: white;
}

.pagination button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .pagination button {
        padding: 8px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Smaller font size */
    }
}

@media (max-width: 480px) {
    .pagination button {
        padding: 6px; /* Reduce padding further on very small screens */
        font-size: 12px; /* Reduce font size on mobile devices */
    }
}
