.faq-container {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.text-container {
    text-align: justify;
}

.faq-title {
    font-size: 24px;
}

.faq-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
}

.faq-container-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: x-large;
}

.faq-row {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
}

@media (max-width: 1200px) {
    .faq-grid {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media (max-width: 992px) {
    .faq-title {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .faq-grid {
        grid-template-columns: 1fr;
    }

    .faq-container-right {
        gap: 10px;
    }

    .faq-title {
        font-size: 20px;
    }

    .faq-row {
        font-size: large;
    }
}

@media (max-width: 480px) {
    .faq-title {
        font-size: 18px;
    }

    .faq-container {
        padding: 15px;
    }

    .faq-row {
        font-size: medium;
    }
}