.footBar {
    width: 100%;
    padding: 15px 30px;
    background-color: #FFFBF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-top: 1px solid gray;
}

.logo-text {
    display: flex;
    align-items: center;
}

.flexi {
    color: #000000;
    margin: 0;
    font-size: 28px;
}

.ride {
    margin: 0;
    font-size: 28px;
    color: #CC1D1D;
}

.foot-menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.foot-menu a {
    color: black;
    text-decoration: none;
    position: relative;
}

.foot-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.foot-user a,
.foot-user span {
    font-size: 18px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.foot-user a:hover,
.foot-user span:hover {
    color: #f39c12;
}

@media (max-width: 1024px) {
    .footBar {
        padding: 15px 20px; /* Adjust padding for tablets */
    }

    .foot-menu,
    .foot-user {
        gap: 15px; /* Reduce gap on smaller devices */
    }
}

@media (max-width: 768px) {
    .footBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .foot-menu,
    .foot-user {
        margin-top: 10px;
        gap: 20px; /* Space between items for small screens */
    }

    .logo-text {
        margin-bottom: 10px; /* Space between logo and menu */
    }

    .flexi, .ride {
        font-size: 24px; /* Smaller font size for logo text */
    }
}

@media (max-width: 480px) {
    .footBar {
        padding: 15px 10px; /* Less padding for very small screens */
    }

    .flexi, .ride {
        font-size: 20px; /* Smaller font size for mobile screens */
    }

    .foot-menu a,
    .foot-user a,
    .foot-user span {
        font-size: 16px; /* Smaller font size for mobile links */
    }
}
